/* FONTS */
/* BARLOW
font-family: 'Barlow', sans-serif; 
font-size: 20px;
line-height: 34px;
letter-spacing: 1.5px;
*/

/* PLAYFAIR
font-family: 'Playfair Display', serif;
line-height: 102px;
letter-spacing: 3.5px; 
*/


/* COLOURS */
/* Neon Pink - color: #FF009B */
/* Pale Mauve - color: #FBF8FA; */
/* Midnight - color: #020726 */
/* Royal - color: #062288 */
/* Blood - color: #810207 */
/* Royal Two - color: #0C2182 */
